@import url('https://fonts.cdnfonts.com/css/pokemon-solid');
.login
{
  font-family:sans-serif;   
  background: linear-gradient(to right, #155799, #8b0202); 
  color:whitesmoke;
  min-height: 100vh;
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px; /* Añade un margen inferior si deseas separar la imagen del formulario */
  }
  
  .imagen {
    margin-top: 40px;
    max-width: 80px;
    max-height: 80px;
  }
h1{
    text-align: center;
}


form{
    width:35rem;
    margin: auto;
    color:whitesmoke;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(11, 15, 13, 0.582);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    padding: 20px 25px 40px;
}

input[type=text], input[type=password], input[type=email]{
    width: 100%;
    margin: 10px 0;
    border-radius: 5px;
    padding: 15px 18px;
    box-sizing: border-box;
  }

button {
    background-color: #155799;
    color: white;
    padding: 14px 20px;
    border-radius: 5px;
    margin: 7px 0;
    width: 100%;
    font-size: 18px;
  }

button:hover {
    opacity: 0.6;
    cursor: pointer;
}

.headingsContainer{
    text-align: center;
}

.headingsContainer p{
    color: gray;
}
.mainContainer{
    padding: 16px;
}


.subcontainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.subcontainer a{
    font-size: 16px;
    margin-bottom: 12px;
}



  .register{
    color: white;
    text-align: center;
  }
  
  .register a{
    color: rgb(74, 146, 235);
  }
  
  .register a:hover{
    color: #CC0000;
    cursor: pointer;
  }
.gotoMenu-btn{
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: #8b0202;
    color: #efefef;
    padding: 10px 20px;
    margin-top: 30px;
    font-size: 1.2rem;
    cursor: pointer;
          
    }
.gotoMenu-btn:hover{
    opacity: 0.6;
}
        

  /* Media queries for the responsiveness of the page */
  @media screen and (max-width: 600px) {
    form{
      width: 25rem;
    }
  }
  
  @media screen and (max-width: 400px) {
    form{
      width: 20rem;
    }
  }
